<!DOCTYPE html>
<html>
    <body>
        <div class='form'>
            <form method='post'>
                {% csrf_token %}
                {{delete_project.as_p}}
                <br>
                <input type="submit" name="submit">
            </form>
        </div>
        <p>------------------------------------------------------------------------------------------------</p>
        {% for p in projects %}
        <div>
            <p>Project id: {{p.id}}</p>
            <p>Project Name: {{p.project_name}}</p>
            <p>Company Name: {{p.company_name}}</p>
        </div>
        <p>------------------------------------------------------------------------------------------------</p>
        {% endfor %}
    </body>
</html>